
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Palanquin+Dark:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


#folha {
    width: 6%;
    padding: 0;
}

header {
    background-color: #42C30B;
    display: flex;
    align-items: center;
    text-align: center;
    
}

header a {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    margin-right: 2rem;
    font-size: 1.3rem;
    border-radius: 25px;
    color: white;
    background-color: none;
    padding-block: 0.7825rem;
    padding-inline: 1.1rem;
}

#divdoheader {
    margin-left: 2.5rem;
    width: 100%;
    display: flex;
}

#donw {
    height: 5rem;
    width: 100%;
    background-color: #42C30B;
}
  
/*botoes*/

.botoes {
    margin-left: auto;
}

.botao1 {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    border-radius: 25px;
    color: #42C30B;
    background-color: white;
    padding: 0.8rem;
    padding-inline: 1.3rem;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: 900;
}

.botao2 {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    border-radius: 25px;
    color: #42C30B;
    background-color: black;
    padding: 0.8rem;
    padding-inline: 1.3rem;
    margin-left: 1rem;
    border: none;
    font-size: 1.3rem;
    margin-right: 1rem;
    cursor: pointer;
    font-weight: 900;
}